# **ENOE $^N$: Un Análisis Geoespacial de la Informalidad en México (2022)**

---

## **Metodología para la medición de Informalidad**

Con base en *Conociendo la base de datos de la ENOE. Datos ajustados a proyecciones de población 2010. (2020)*, INEGI.


> **Resumen de la base de datos de la ENOE**: Por cada vivienda existe uno o más registros de hogares, para cada hogar con entrevista completa (más
adelante se defi ne entrevista completa) se cuenta con el registro de las características sociodemográfi cas
de cada residente, es decir, cada hogar tiene a sus residentes en la tabla de sociodemográfico (SDEM)
y para cada residente con edad de 12 años cumplidos ó más se cuenta con un registro del Cuestionario
de Ocupación y Empleo, el cual se almacena en las tablas COE1 (de batería 1 a 5) y COE2 (de batería
6 a la última).

Basándose en lo anterior, se concluye que es posible identificar a los **residentes de un hogar** en la tabla de **caracteristicas sociodemográficas** (`SDEM`) dentro de la base de datos de la **ENOE**. Es importante señalar que cada **fila/registro** dentro de esta última, corresponde a las cáracteristicas de una única persona. Sin embargo, se puede conocer la **Frecuencia absoluta expandida** i.e. el número de personas que cuentan con las mismas mediante el **factor de expansión** en el **campo/columna** `FAC`.

> “El factor de expansión es el coeficiente que le otorga determinado peso en la muestra en función de su representatividad de otros tantos casos 
similares a él tomando en cuenta su estrato socioeconómico y lugar de residencia”.

$$ registro_i \times FAC = \text{Frecuencia absoluta expandida} \tag{1}$$

> **Nota**: En la nueva base de datos **ENOE $^N$**, la variable `FAC` es reemplazada por `fac_tri` y `fac_mes`

En términos técnicos, es posible identificar a la población en el **sector informal** al filtrar por los registros que, en el campo de **Tipo de Unidad Económica 2** (`TUE2`) de la tabla `SDEM` cuenten con un valor de **5**.

```SQL

* Con esta sentencia se obtiene a la población económicamente activa.
SUM FAC FOR R_DEF=’00’ AND (C_RES=1 OR C_RES=3) AND (EDA>=’15’ AND EDA<=’98’) AND
CLASE1=1

* Para calcular los indicadores estratégicos e.g. Población en informalidad, se les aplica
* el pre-criterio siguiente:
R_DEF=’00’ AND (C_RES=’1’ OR C_RES=’3’) AND (EDA>=’15’ AND EDA<=’98’)

* Con esta se identificaría a la población en el sector informal
SELECT sum FAC FROM SDEM ... AND TUE2 = 5
```

Dando continuidad a la parte técnica, algo que se destaca es que, además del filtro de `TUE=5`, el cuál nos permite identificar personas dentro del **sector informal**, otras variables y criterios son empleados para encontrar a estos residentes: `R_DEF`, `C_RES` y `EDA`. El **INEGI** los describe como:

- > `R_DEF`: Existe un campo en la tabla HOGARES con el nombre “R_DEF” que almacena el resultado definitivo
de la entrevista del hogar, una ENTREVISTA COMPLETA se determina cuando en el campo “R_DEF”
almacena el valor ‘00’ (doble cero). Todo valor diferente a 00, es considerado como NO ENTREVISTA (ver documento de captación CARACTERISTICAS SOCIODEMOGRAFICAS en el apartado resultados de la entrevista).

- > `C_RES`:  En la tabla SOCIODEMOGRÁFICO existe el campo “C_RES”, que determina la condición de residencia
del ocupante del hogar. Si el valor que almacena este campo es 1, se trata de un residente habitual; si el
valor es 2, se trata de ausente definitivo; si el valor es 3, es un nuevo residente. Para mayor información
ver documento metodológico de la ENOE.

- > `EDA`:  En el campo “EDA”, se almacenan los años cumplidos. Si la edad del residente es de 12 años y más y
además tiene un 1 o un 3 en el campo “C_RES”, debe de existir un registro en la tabla CUESTIONARIO
DE OCUPACIÓN Y EMPLEO, si no cumple con estas características se termina su secuencia en la tabla
SOCIODEMOGRÁFICO.

Con base en lo anterior, se concluye que para que **un residente** sea considerado para calcular **indicadores estratégicos** es necesario que este: **1)** cuente con **entrevista completa** (`R_DEF = '00'`), **2)** sea **residente habitual** o **nuevo** (`C_RES` = '1' OR `C_RES` = '3'), y **3)** su edad se encuentre dentro de los **15** y **98** años (`EDA` >= '15' AND `EDA` <= '98').

Para calcular la **tasa de desocupación en el sector informal**, utilizado como un **acercamiento y comparativo** de la **informalidad** a nivel **entidad federativa** y **municipio**, se utiliza la formula definida por la **INEGI** dentro de su documento *Conociendo la base de datos de la ENOE (2020)*, (p.27):

**VIII.-Tasa de ocupación en el sector informal**

```SQL
Universo: R_DEF=00 y C_RES=1 ó 3 y edad=15-98
```

$$ TOSI = \frac{POSI}{PO} \times 100 \tag{2}$$

**Donde**:
- **POSI**: Población ocupada en el sector informal (`TUE2=5`)
- **PO**: Población ocupada (`Clase2 = 1`)

## **Fuentes**

- INEGI. (2020). *Cómo se hace la ENOE. Métodos y Procedimientos*. https://www.inegi.org.mx/contenidos/productos/prod_serv/contenidos/espanol/bvinegi/productos/nueva_estruc/702825190613.pdf
- INEGI. (2020). *Conociendo la base de datos de la ENOE. Datos ajustados a proyecciones de población 2010.*. https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/doc/con_basedatos_proy2010.pdf
- INEGI. (2021). *Encuesta Nacional de Ocupación y Empleo Nueva Edición (ENOE $^N$) Estructura de la base de datos*. https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/doc/enoe_n_321_fd_c_bas_amp.pdf 
- [TBC](https://www.inegi.org.mx/contenidos/productos/prod_serv/contenidos/espanol/bvinegi/productos/metodologias/ENOE/ENOE2014/informal_laboral/702825060459.pdf)

### **Bases de datos**
- Conjunto de datos + metadatos: https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/datosabiertos/2022/conjunto_de_datos_enoen_2022_1t_csv.zip
- Conjunto de datos simplificado (solo tablas en excel): https://www.inegi.org.mx/programas/enoe/15ymas/#Microdatos

### **Benchmark del 1er trimestre**
- Encuesta Nacional de Ocupación y Empleo (Nueva Edición) ENOE N. Resultados del primer trimestre de 2022. https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/doc/enoe_n_presentacion_ejecutiva_trim1_2022.pdf
- Comunicado de Prensa. Encuesta Nacional de Ocupación y Empleo, Nueva Edición. Primer Trimestre de 2022. https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/doc/enoe_n_nota_tecnica_trim1_2022.pdf

# **TO DO**:

- Elaborar mapas para ubicar la informalidad en México
- Ubicar las localidades/municipios con mayor porcentaje de población en el sector informal
- Identificar las zonas rurales y urbanas con mayor porcentaje de población en el sector informal
- Analizar características socioeconómicas relevantes por región y presentarlas en los mapas
    - `SEX` Proporción hombre - mujer (poblacion total en localidad) **CHECK**
    - **calcular** Tasa de participacion **CHECK**
    - **calcular** Tasa de ocupación informal **CHECK**
    - `EDA` Edad ¿cuál es la mediana y promedio de edad? la desviación estandar de la edad pude decirnos algo? **CHECK**
    - Año promedio de escolaridad `CS_P13_1`, `CS_P13_2`
    - `N_HIJ` Número de hijos nacidos
    - `E_CON` el estar casado tiene relacion con la informalidad?
    - `RAMA` sector económico. El sector con mayor proporcion tiene que ver con la informalidad?
        - `RAMA_EST_1` sector total (primario, secundario, ...)
    - `ANIOS_ESC:num` años de escolaridad
    - `HRSOCUP:num` horas trabajadas en la semana
    - `INGOCUP:num` Ingreso mensual
    - `ING_X_HRS`: Promedio de ingreso por hora trabajada
    - **NICE2HAVE** POBREZA ENT-MUN


Automatizacion
1. Calcular los subdataframes de variables socioeconomicas para un trimestre
2. Calcular los subdataframes de variabls socioeconomicas para todos los trimestres
3. Juntar subdataframes trimestrales y obtener el promedio por variable socioeconomica
4. Juntar los promedios de variables socioeconomicas en un mismo dataframe

In [25]:
import pandas as pd # Manipulación de datos
import geopandas as gpd # Manipulación geospacial de datos
import numpy as np # Python numerico
import matplotlib.pyplot as plt # Visualizacion de datos

import requests # Peticiones web
import os # Manipulacion del Sistema Operativo
import re # Regular expressions

from zipfile import ZipFile # Zipfile manipulacion

import warnings
warnings.filterwarnings('ignore')

In [123]:
# Lista para identificar un municipio junto con su entidad federativa
LOC_INDEX = ['ent', 'mun']

In [213]:
def get_fac_value_aggfunc(df: pd.DataFrame, value: str, fac: str, aggfuncs: dict = {'mean': np.mean, 'median': np.median, 'std': np.std}):
    """Retorna los valores agregados de un valor con factor de expansión
    
    # Argumentos
    df: pd.DataFrame
        El dataframe donde se encuentra la data
    value: str
        El nombre de la columna/valor a multiplicar
    fac: str
        El nombre de la columna con el factor de expansion
    aggfuncs: dict (default = {'mean': np.mean, 'median': np.median, 'std': np.std})
    
    # Return
    aggfunc_values: dict
        Diccionario con el nombre del valor agregado como llave, y el valor agregado como valor
    """
    values = []
    aggfunc_values = {}

    # Itera sobre cada una de las filas
    for ix, row in df[[value, fac]].iterrows():
        values += [row[value]] * int(row[fac])

    # Regresa un numpy array con los valores
    values =  np.array(values)

    # Itera sobre cada una de las funciones de agregacion y 
    # retorna los resultados
    for aggfunc_name, aggfunc in aggfuncs.items():
        aggfunc_values[aggfunc_name] = aggfunc(values)

    return aggfunc_values


def get_fac_value_aggfunc_groupby(df: pd.DataFrame, groupby: str | list | tuple, value: str, fac: str,
                                  aggfuncs: dict = {'mean': np.mean, 'median': np.median, 'std': np.std},
                                  suffix: str | bool = True):
    """Agrupa un dataframe mediante una llave y obten valores agregados por factor
    
    # Argumentos
    df: pd.DataFrame
        El dataframe por ser agrupado y agregado
    groupby: str | list | tuple
        La llave para agrupar un dataframe en subdataframes
    value: str
        El nombre de la columna/valor a multiplicar
    fac: str
        El nombre de la columna con el factor de expansion
    aggfuncs: dict (default = {'mean': np.mean, 'median': np.median, 'std': np.std})

    # Return
    grouped_by_df: pd.DataFrame
        Dataframe indexado con los valores agregados por factor
    """

    # Define una lista en blanco para agregar los valores
    # del agrupamiento
    grouped_by_values = []

    # Agrupa por el groupby
    grouped_by = df.groupby(groupby)

    # Itera sobre cada uno de los indices y sub dataframes agrupados
    for ix, grouped_df in list(grouped_by):

        # Obten los valores agregados multiplicados por su factor
        aggfunc_values = get_fac_value_aggfunc(grouped_df, value, fac, aggfuncs)

        # Genera un diccionario que combine los diccionarios del indice +
        # los resultados agregados
        grouped_df_values = dict(zip(groupby, ix)) | aggfunc_values

        # Agrega a la lista de grouped_by_values los resultados del
        # subdataframe
        grouped_by_values.append(grouped_df_values)

    # Genera un nuevo dataframe y determina como indice, el groupby
    # inicial
    grouped_by_df = pd.DataFrame(grouped_by_values).set_index(groupby)

    # Valida si suffix is None, entonces usa como sufijo del nombre
    # de las columnas agregadas, el string de value

    # Valida si se quiere agregar sufijo a las columnas
    if suffix:
        if type(suffix) is not bool:
            value = suffix

        # Renombra las columnas con el nuevo valor de sufijo
        grouped_by_df.rename(columns={col: f'{value}_{col}' for col in grouped_by_df.columns}, inplace = True)    

    # Regresa el dataframe
    return grouped_by_df

Para facilitar el acceso a los archivos y el replicar este **jupyter notebook**, se descargan los datos de la ENOE $^N$ de forma automatizada.

In [2]:
# Define una lista con los links de los zipFiles que contienen las tablas de la base de datos
# de la enoen
enoen_links = [
    'https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/enoe_n_2022_trim1_csv.zip',
    'https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/enoe_n_2022_trim2_csv.zip',
    'https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/enoe_n_2022_trim3_csv.zip',
    'https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/enoe_n_2022_trim4_csv.zip'
]


# Itera sobre cada uno de lis links de los trimestres de la enoeN 2022 y descarga
# los archivos si aun no estan
enoe_n_path = 'data/enoe_n_2022/'
for trim, enoen_link in enumerate(enoen_links, start = 1):
    current_trim = f'enoe_n_2022_{trim}t'

    # Valida si no se encuentra la tabla de sociodemograficos del trimestre
    if not f'ENOEN_SDEMT{trim}22.csv' in os.listdir(enoe_n_path):
        print(f'[*] \'{current_trim}\' no fue encontrado. Descargando los archivos :)')

        # Haz un web request al INEGI para descargar la data
        enoen = requests.get(enoen_link)
        enoen_zip = f'{current_trim}.zip'

        # Abre un zipfile y escribe el contenido del web request
        open(enoen_zip, 'wb').write(enoen.content)

        # Extrae las tablas dentro del zipfile del trimstre
        with ZipFile(enoen_zip, 'r') as zObject:
            zObject.extractall(enoe_n_path)

        # Elimina el zip file, y solo quedate con las tablas
        os.remove(enoen_zip)

        print(f'[*] \'{enoen_zip}\' ha sido descargado y descomprimido en \'{enoe_n_path}\'\n')

    else:
        print(f'[*] {current_trim} ya fue descargado :)')

[*] enoe_n_2022_1t ya fue descargado :)
[*] enoe_n_2022_2t ya fue descargado :)
[*] enoe_n_2022_3t ya fue descargado :)
[*] enoe_n_2022_4t ya fue descargado :)

Extra los datos **geográficos** del **INEGI**

In [3]:
geo_data_path = 'data/mg_sep2019_integrado'

# Intenta listar el folder con la data geografica
try:
    os.listdir(geo_data_path)
    print('[*] La data geográfica ya esta descargada :)')
except:
    # Crea el folder
    os.mkdir(geo_data_path)
    print(f'[*] Creando el directorio \'{geo_data_path}\'')

    # Descarga los archivos
    print('[*] Descargando la data geográfica...')
    r = requests.get('http://internet.contenidos.inegi.org.mx/contenidos/productos/prod_serv/contenidos/espanol/bvinegi/productos/geografia/marcogeo/889463776079/mg_sep2019_integrado.zip')
    open('mg_sep2019_integrado.zip', 'wb').write(r.content)
    
    # Extrae solo los datos del conjunto de datos para mun y ent
    with ZipFile('mg_sep2019_integrado.zip', 'r') as zipObject:
        filenames = [filename for filename in zipObject.namelist() if '00mun' in filename or '00ent' in filename]
        for filename in filenames:
            print(f'[*] Extrayendo \'{filename}\' en \'{geo_data_path}\'')
            zipObject.extract(filename, 'data/')
    
    # Una vez extraidos los archivos, elimina el zip file
    os.remove('mg_sep2019_integrado.zip')

[*] La data geográfica ya esta descargada :)

## **Importa los datos**

Para este trabajo, en esencia, se utilizará la tabla de **demográficos** de la base de de datos de la ENOE $^N$.

```python
# Genera una lista para guardar los dataframes de demograficos
sdemts = []

# Itera sobre cada uno de los archivos correspondientes a la tabla
# de demograficos
for file in [file for file in os.listdir(enoe_n_path) if 'SDEMT' in file]:
    print(f'[*] Leyendo \'{file}\'...')

    # Abre el archivo
    sdmet = pd.read_csv(os.path.join(enoe_n_path, file), encoding = 'latin_1')

    # Extrae el trimestre al que corresponde
    sdmet['trim'] = re.findall('[\d]', file)[0]

    # Guardalo en la lista de sdemts
    sdemts.append(sdmet)

# Concatena los dataframes en uno mismo
sdemts = pd.concat(sdemts, ignore_index=True)

# Imprime la información del dataframe
print(sdemts.info(), end = '\n'*2)

# Imprime el head del dataframe
sdemts.head()
```

In [82]:
# Importa el trimestre 1 para recon
df = pd.read_csv('data/enoe_n_2022/ENOEN_SDEMT122.csv', encoding = 'latin_1',
                 dtype = {'r_def':'str', 'c_res':'str', 'eda':'str', 'sex':'str'}) # Reemplaza el tipo de dato de variables que seran importantes para filtrar


df.head()

,r_def,loc,mun,est,est_d_tri,est_d_men,ageb,t_loc_tri,t_loc_men,cd_a,...,scian,t_tra,emp_ppal,tue_ppal,trans_ppal,mh_fil2,mh_col,sec_ins,tipo,mes_cal
0,0,,2,10,122,,0,1,,1,...,6,1,2,2,0,3,2,2,1,96
1,0,,2,10,122,,0,1,,1,...,12,1,2,2,0,3,2,2,1,96
2,0,,2,10,122,,0,1,,1,...,12,1,2,2,0,3,6,4,1,96
3,0,,2,10,122,,0,1,,1,...,5,1,2,2,0,3,2,2,1,96
4,0,,10,30,124,113,0,1,1,1,...,14,1,2,2,0,3,2,2,2,1

> Para el uso de las variables (precodificadas) se debe aplicar el siguiente criterio: `R_DEF = 0 AND C_RES 1 or 3 AND EDA >= 15 <= 98`

In [83]:
# Haz un query/busqueda con los siguientes filtros
df = df.query("r_def == '0' and (c_res == '1' or c_res == '3') and (eda >= '15' and eda <= '98') ")

# Muestra el head del dataframe
df.head()

,r_def,loc,mun,est,est_d_tri,est_d_men,ageb,t_loc_tri,t_loc_men,cd_a,...,scian,t_tra,emp_ppal,tue_ppal,trans_ppal,mh_fil2,mh_col,sec_ins,tipo,mes_cal
0,0,,2,10,122,,0,1,,1,...,6,1,2,2,0,3,2,2,1,96
1,0,,2,10,122,,0,1,,1,...,12,1,2,2,0,3,2,2,1,96
2,0,,2,10,122,,0,1,,1,...,12,1,2,2,0,3,6,4,1,96
3,0,,2,10,122,,0,1,,1,...,5,1,2,2,0,3,2,2,1,96
4,0,,10,30,124,113,0,1,1,1,...,14,1,2,2,0,3,2,2,2,1

## **Calcula tasas y variables de interés**

### **Tasa de hombres en la población**

Calcula la proporción de hombres respecto a la población del municipio (`prop_pob_hombre`).

In [85]:
# Calcular la proporcion de hombre-mujer
# 1 corresponde a hombre; 2 mujer
prop_sex = df.pivot_table(
    index = LOC_INDEX,
    columns = 'sex',
    values = 'fac_tri',
    aggfunc = 'sum'
)

# Proporcion de poblacion hombre
prop_sex['prop_pob_hombre'] = prop_sex['1'] / prop_sex.sum(axis = 1)
prop_sex

sex           1       2  prop_pob_hombre
ent mun
1   1    380243  431722         0.468300
    2      6915    6775         0.505113
    3      8104    9068         0.471931
    4      3204    3649         0.467532
    5     45823   49206         0.482200
...         ...     ...              ...
32  54    32408   36258         0.471966
    55     5940    7425         0.444444
    56    60432   71791         0.457046
    7      4692    4600         0.504950
    8      5423    7106         0.432836

[1146 rows x 3 columns]

### **Tasa de participación**

Calcula la **tasa de participación** de los municipios.

$$TP = \frac{PEA}{P15yMAS} \times 100$$

Donde:
- **PEA**: Población Económicamente Activa (`Clase1 = 1`)
- **P15yMAS**: Población de 15 años y más (`EDA = 15 a 98`)

In [114]:
# Es Población Ecónomicamente Activa
df['es_pea'] = np.where((df['clase1'] == 1), 1, 0)

# Identifica a la población de 15 y mas (menos igual 98)
df['es_p15_y_mas'] = np.where((df['eda'] >= '15') & (df['eda'] <= '98'), 1, 0)

# Debido a que existen registros con clase1 == 0, hay que filtrar
# solo por clase1 == 1 or clase1 == 2 para poder obtener los mismos
# calculos que en el reporte del INEGI (58.7% a nivel nacional)
t_particip = df.query("clase1 == 1 or clase1 == 2").pivot_table(
    index = LOC_INDEX,
    values = 'fac_tri',
    columns = 'es_pea',
    aggfunc = 'sum',
)

# Define una nueva columna con la tasa de participacion
t_particip['tasa_participacion'] = t_particip[1] / t_particip.sum(axis = 1)

# Muestra el dataframe
t_particip

es_pea        0       1  tasa_participacion
ent mun
1   1    284213  416278            0.594266
    2      4535    6835            0.601143
    3      6726    6971            0.508944
    4      2670    3115            0.538462
    5     32385   46856            0.591310
...         ...     ...                 ...
32  54    31340   24774            0.441494
    55     6210    5940            0.488889
    56    44766   69142            0.606999
    7      4048    4140            0.505618
    8      5423    4675            0.462963

[1146 rows x 3 columns]

### **Tasa de ocupación en el sector informal**

$$ TOSI = \frac{POSI}{PO} \times 100$$

**Donde**:
- **POSI**: Población ocupada en el sector informal (`TUE2=5`)
- **PO**: Población ocupada (`Clase2 = 1`)

In [126]:
# Crea una columna que identifique si es del sector informal
df['es_sector_informal'] = np.where(df['tue2'] == 5, 1, 0)

# Clasificación de la población ocupada y desocupada; disponible y no disponible
# 2. Población desocupada
df['es_poblacion_ocupada'] = np.where(df['clase2'] == 1, 1, 0)

# Calcula la tasa TOSI, 28.3% a nivel nacional
tosi = df.query("clase2 == 1").pivot_table(
    index = LOC_INDEX,
    columns = 'es_sector_informal',
    values = 'fac_tri',
    aggfunc = 'sum'
)

# Calcula la tasa de ocupacion en el sector informal
tosi['tasa_ocup_sector_informal'] = tosi[1] / tosi.sum(axis = 1)

tosi

es_sector_informal         0        1  tasa_ocup_sector_informal
ent mun
1   1               321697.0  80079.0                   0.199313
    2                 4320.0   2060.0                   0.322884
    3                 4231.0   2644.0                   0.384582
    4                 2314.0    801.0                   0.257143
    5                33389.0  12315.0                   0.269451
...                      ...      ...                        ...
32  54               18558.0   5147.0                   0.217127
    55                4590.0    945.0                   0.170732
    56               53209.0  12966.0                   0.195935
    7                 3404.0    736.0                   0.177778
    8                 2992.0   1683.0                   0.360000

[1146 rows x 3 columns]

### **Edad de la PEA**

Calcula la **media, mediana y desviación estándar** de la **edad de la PEA**.

In [212]:
# Calcula metricas agregadas de la edad sobre la PEA
edad_pea = get_fac_value_aggfunc_groupby(df.astype({'eda':'float64'}).query("es_pea == 1"),
                                         LOC_INDEX, 'eda', 'fac_tri')

# Muestra el dataframe
edad_pea

          eda_mean  eda_median    eda_std
ent mun
1   1    39.168277        38.0  13.597476
    2    38.089978        37.0  13.372441
    3    38.884665        36.0  15.340936
    4    41.085714        39.0  15.986372
    5    36.485167        35.0  13.114960
...            ...         ...        ...
32  54   37.289901        36.0  15.177242
    55   40.863636        44.5  16.173197
    56   40.335035        39.0  13.993925
    7    47.066667        49.0  17.512408
    8    37.640000        39.0  13.499274

[1146 rows x 3 columns]